<ion-header>
  <ion-toolbar color="dailynote">


    <ion-buttons slot="start" *ngIf="!isSearchBarOpened2" >
      <!-- On ajoute ICI le bouton menu -->

      <ion-menu-button></ion-menu-button>

    </ion-buttons>



    <ion-title *ngIf="!isSearchBarOpened2" >Note terminé</ion-title>

    <ion-searchbar *ngIf="isSearchBarOpened2" showCancelButton="true" animated="true" (ionChange)="onChangeSearchHistory($event)" (ionCancel) = "searchBarCancel()"></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button ion-button icon-only (click)="changeIsopenedStatus()"> 
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let note of searchedItem2">

    <ion-card *ngIf="note.isDone"  [routerLink]="'note/' + note.id" routerDirection="forward" > <!--(click)="seeNote(note)"-->
      <ion-card-header>
        <ion-card-title>{{note.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{note.content}}</p>
        <h6 class="ion-text-end">Editée le:{{note.time_stamp|date: 'dd/MM/yyyy - HH:mm'}} </h6>
      </ion-card-content>
    </ion-card>

  </div>
  
</ion-content>