<ion-header>
  <ion-toolbar color="dailynote">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>Note terminé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let note of notesService.notes">

    <ion-card *ngIf="note.isDone"  [routerLink]="'note/' + note.id" routerDirection="forward" > <!--(click)="seeNote(note)"-->
      <ion-card-header>
        <ion-card-title>{{note.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{note.content}}</p>
        <h6 class="ion-text-end">Editée le:{{note.time_stamp|date: 'dd/MM/yyyy - HH:mm'}} </h6>
      </ion-card-content>
    </ion-card>

  </div>
  
</ion-content>