<ion-split-pane contentId="main-content"> <!-- split pane : adapter side menu a la taille de l'ecran -->

  <ion-menu  contentId="main-content" type="overlay"> 

    <ion-content> 

      <ion-list id="inbox-list"> 

        <ion-list-header>Menu</ion-list-header> 

        <ion-note>Bonjour {{userEmail}}!</ion-note> 

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages"> 

          <ion-item routerDirection="root" [class.active-menu]="activePath === p.url" [routerLink]="[p.url]" detail="false">  

            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> 

            <ion-label>{{ p.title }}</ion-label> 

          </ion-item> 

        </ion-menu-toggle> 

      </ion-list> 

      <ion-list> 

        <ion-item lines="none"> 

          <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon> 

          <ion-label>Logout</ion-label> 

        </ion-item> 

      </ion-list> 

    </ion-content> 

  </ion-menu> 

  <!-- the main content --> 

  <ion-router-outlet id="main-content"></ion-router-outlet> 

</ion-split-pane> 