<ion-header>

  <ion-toolbar color="dailynote">

    <ion-buttons slot="start"> <!--  Un bouton  permettant le retour en arrière -->

      <ion-back-button defaultHref="/menu/notes" text=""></ion-back-button>

    </ion-buttons>

    <ion-title>{{note.title}}</ion-title>

    <ion-buttons *ngIf="!note.isDone"  slot="end"> <!--  Un bouton  permettant la modification d'une note -->

      <ion-button (click)="saveNote()">

        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>

      </ion-button>

    </ion-buttons>
    <ion-buttons *ngIf="!note.isDone" slot="end"> <!--  Un bouton  permettant la suppression d'une note  ion-button (click)="deleteNote()">-->
      <!-- button permet de modifier l'etat d'une note-->
      <ion-button (click)="doneNote()">

        <ion-icon slot="icon-only" name="checkmark-done"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  {{note.content}}

  <h6 class="ion-text-end">Editée le:{{note.time_stamp|date: 'dd/MM/yyyy - HH:mm'}} </h6>

</ion-content>